.topicos{
    background: var(--azul-degrade);
    font-family: var(--fonte-principal);
    padding: 2em;
    
}
.topicos__titulo{
    color: var(--branco);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 0 0 2em 0;
}
.topicos__lista{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
    gap: 2em 0.5em;
    padding: 0 0 0.5em 0;
   
}

.topicos__lista__link{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background: var(--laranja);
    color: var(--branco);    
    padding: 0.5em;
}